#twittericon {
    color: rgb (0, 172, 237);
}
#githubicon {
    color: rgb (102, 43, 129);
}
#linkedinicon {
    color: rgb (0, 127, 178);
}
.block {
  background-color: black;
  opacity: .9;
  padding: 10px;
  width: 50%;
  margin-right:auto;
  margin-left:auto;
  border-radius: 10px;
}

.me{
   height: 500px;
  border-radius: 30%;
}



.nav-pills {
  
  font-size: 1.7em;
  background-color: black;
  margin-bottom: 10%;
 
}
h1 {
  padding:0;
  margin-top:0px;
  font-size:5.0em;
  padding-top: 0%;
}
body {
  background-color: black;
  font-family: 'Libre Franklin', sans serif;
  color: white;
}
.pageOne {
  background:url("https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?dpr=1.5&auto=compress,format&fit=crop&w=376&h=250&q=80&cs=tinysrgb&crop=&bg=");
  background-size: cover;
  padding-bottom:10%;
}
.pageTwo{
  background:url("https://images.unsplash.com/photo-1471252945786-b238eb1d45cd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=7fe3f1b00becec732bc63d3941445a4a");
  background-size: cover;
  height: 1200px;
  padding-top: 5%;
}
.pageThree{
  background:url("https://images.unsplash.com/photo-1462332420958-a05d1e002413?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&dl=nasa-89127.jpg&s=8b2983b57aed2e0202e78e32777968cd");
  background-size: cover;
    padding-top:5%;
    padding-bottom: 5%;
}
.pageFour{
  background:url("https://images.unsplash.com/photo-1454789548928-9efd52dc4031?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&dl=nasa-63032.jpg&s=6e12751b32d8d29e8effee2dcbd4605a");
  padding-bottom:10%;
  background-size: cover;
}
    
 .btn-default {
  background-color: black;
 border-color: black;
  color: #337ab7;
  font-size: 1.7em
}

p{
  font-size: 2.2em;
  padding-top: 5%;
}
.paddingTop {
  padding-top:2%;
  padding-bottom:2%;
}
.footer p{
    font-size: 15px;
}
